<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
<header>
    <h1> App de Gestão Escolar </h1>
    <ht>
        <ul>
            <li>Home</li>
            <li>Service</li>
            <li>Cherch</li>
            <li>Ajuda</li>
        </ul>
    </ht>
    <hr>

    <main>
        <h2>Benvindo a Kicanza School</h2>
        <div class="dv-primary">
            <div>
                <p>Nossos service ajuda a melhorar a sua vida!</p>
                <a></a>
            </div>
        </div>

    </main>
</header>
<br>





</body>
</html>